<!doctype html>
<html>
<head>
    {meta}
    <title>{webtitle}</title>
    <meta name="keywords" content="{keywords}" />
    <meta name="description" content="{Description}" />
    <link rel="stylesheet" type="text/css" href="/css/style.reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link href="/css/com.css" rel="stylesheet" />
    <link href="/css/case.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/mfen.css" />
    <link href="/css/news.css" rel="stylesheet" />

</head>

<body>
    <div class="wraper">
        {head}
        <!-- 右侧隐藏导航条 -->
        <div class="ba-box news headTop" id="bnsroll">
            <div class="news-banner">
                <img src="/images/news _banner.png">
            </div>
            <center>
                <h2 class="animated fadeInUp">最新资讯</h2>
                <p class="p2 animated fadeInUp" style="animation-delay: .4s;">感谢您，每次都关注我们最前沿的动态</p>
            </center>
        </div>
        <div class="news-bd clearfix">
            <div class="news-bd-sele clearfix">
                {new_nav}
            </div>
            <div class="news-bd-list">
                <a href="newshow.html">
                    <dl class="clearfix">
                        <dt>
                            <img src="/images/news_1.png">
                            <span class="img-blueline"></span>
                        </dt>
                        <dd>
                            <h5 class="blue-ski">搜索权重和主图有关？你不可忽视的主图的几个技巧</h5>
                            <p>搜索权重和主图有什么关？主图的好话直接影响宝贝的权重。</p>
                        </dd>
                        <div class="list-bd-time">
                            <div class="list-time-left">
                                <span>02-22<br><i>2017</i></span>
                            </div>
                            <div class="list-time-right">
                                <i></i>
                            </div>
                        </div>
                    </dl>
                </a>
                <div class="line-news"></div>
                <a href="newshow.html">
                    <dl class="clearfix">
                        <dt>
                            <img src="/images/news_2.png">
                            <span class="img-blueline"></span>
                        </dt>
                        <dd>
                            <h5 class="blue-ski">五大连池官网12月12日上线</h5>
                            <p>搜索权重和主图有什么关？主图的好话直接影响宝贝的权重。搜索权重和主图有什么关？</p>
                        </dd>
                        <div class="list-bd-time">
                            <div class="list-time-left">
                                <span>02-22<br><i>2017</i></span>
                            </div>
                            <div class="list-time-right">
                                <i></i>
                            </div>
                        </div>
                    </dl>
                </a>
                <div class="line-news"></div>
                <a href="newshow.html">
                    <dl class="clearfix">
                        <dt>
                            <img src="/images/news_3.png">
                            <span class="img-blueline"></span>
                        </dt>
                        <dd>
                            <h5 class="blue-ski">搜索权重和主图有关？你不可忽视的主图的几个技巧</h5>
                            <p>搜索权重和主图有什么关？主图的好话直接影响宝贝的权重。</p>
                        </dd>
                        <div class="list-bd-time">
                            <div class="list-time-left">
                                <span>02-22<br><i>2017</i></span>
                            </div>
                            <div class="list-time-right">
                                <i></i>
                            </div>
                        </div>
                    </dl>
                </a>
                <div class="line-news"></div>
            </div>


        </div>
        <div class="page-box clearfix page-box-news">
            {page}
        </div>
        <style>
        </style>
        {foot}
    </div>
    {right}
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/commen.js"></script>
</body>
</html>
