<!doctype html>
<html>

<head>
    {meta}
    <title>{webtitle}</title>
    <meta name="keywords" content="{keywords}" />
    <meta name="description" content="{Description}" />
    <link rel="stylesheet" type="text/css" href="css/style.reset.css" />
    <link href="css/com.css" rel="stylesheet" />
    <link href="css/case.css" rel="stylesheet" />
    <link href="css/mfen.css" rel="stylesheet" />
    <link href="style/index.css" rel="stylesheet" />

</head>

<body>
    <div class="wraper">
        {head}
        <div class="about-banner servi-banner headTop">
            <img id="img2" class="servi-banner-pic" src="images/serve_banner.png">
            <div class="serve-banner">
                <div class="serve-ba-txt">
                    <img src="images/serve_ba_txt.png">
                </div>
                <div class="serve-ba-box">
                    <!-- <img src="images/serve_ba_box.png"> -->
                    <div class="box-top-left"></div>
                    <div class="box-top-right"></div>
                    <div class="box-left"></div>
                    <div class="box-right"></div>
                    <div class="box-xia box-xia1"></div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <div class="customer">
                <div class="customer-title">
                    <h2>精雕细琢 · 为您建设</h2>
                    <p class="p16">您的网站是我们最好的案例</p>
                    <p class="p14" style=" margin-top: 10px;">我们最终给客户传达的思想是：注重专业探索，让视觉与创意完美的结合能在更深远的认知中将不断修正服务导向，完善创作作品把</p>
                    <p class="p14">探求精品塑造与品牌价值成为推动行业发展的中坚力量</p>
                </div>
                <div class="service-box clearfix">
                    <h3>我们提<span>供以</span>下服务</h3>
                    <p>我们从策划，设计到上线，帮您一站式搞定</p>
                    <ul class="clearfix">
                        <li>
                            <i class="sevi-icon-1"></i>官网定制
                        </li>
                        <li>
                            <i class="sevi-icon-2" style=" padding-right: 9px; "></i>微信定制
                        </li>
                        <li>
                            <i class="sevi-icon-3"></i>APP开发
                        </li>
                        <li>
                            <i class="sevi-icon-4"></i>VI视觉设计
                        </li>
                        <li>
                            <i class="sevi-icon-5"></i>项目平台开发
                        </li>
                    </ul>
                    <a class="wyzx-btn wyzx-btn-right" href="">我要咨询</a>
                    <div class="service-box-pic clearfix">
                        <a href="javascript:void(0);">
                            <img src="images/pic1.png">
                            <p>
                                网站策划
                                <br>
                                <span>Website planning</span>
                            </p>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="images/pic2.png">
                            <p>
                                视觉创意设计
                                <br>
                                <span>Visual creative design</span>
                            </p>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="images/pic3.png">
                            <p>
                                技术研发
                                <br>
                                <span>Technology research and development</span>
                            </p>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="images/pic4.png">
                            <p>
                                测试上线
                                <br>
                                <span>Test on line</span>
                            </p>
                        </a>
                    </div>
                    <a href="case.html">
                        <p class="lxg-case">
                            浏览相关案例
                            <i></i>
                        </p>
                    </a>
                    <div class="face-web">
                        <img src="images/pic5.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="wai">
            <div class="project clearfix">
                <div class="project-box">
                    <div class="project-hd clearfix">
                        <h3>美妙的网站，每天都在这里产生</h3>
                        <h4>一个又一个的webdesign将由我们帮您完成，我们将会与您共同见证与分享这美好的时刻</h4>
                        <a class="wyzx-btn" href="">我要咨询</a>
                        <a href="case.html">
                            <p class="lxg-case">
                                浏览相关案例
                                <i></i>
                            </p>
                        </a>
                    </div>
                    <div class="project-bd clearfix">
                        <div class="project-bd-phone">
                            <img src="images/ph1.png">
                            <p>微信定制化开发</p>
                        </div>
                        <div class="project-bd-phone">
                            <img src="images/ph2.png">
                            <p>APP设计开发</p>
                        </div>
                        <div class="project-bd-pc">
                            <img src="images/pc1.png">
                            <p>响应式网站设计</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solute clearfix">
            <div class="title-solute clearfix">
                <h3>
                    解决方案
                    <br>
                    <span>SOLU</span>
                </h3>
                <h1>TIONS</h1>
            </div>
            <h4 class="deso h4">我们将以最专业的态度</h4>
            <h5 class="deso h5">为您量身定制 提供最优质 最全面的解决方案</h5>
            <div class="solute-pic clearfix">
                <div class="solute-pic1">
                    <img src="images/zx2.png">
                    <p>
                        官网视觉形象解决方案
                        <br>
                        <span>Visual image solutions</span>
                    </p>
                </div>
                <div class="solute-pic1">
                    <img src="images/zx3.png">
                    <p>
                        电商与项目平台解决方案
                        <br>
                        <span>Electricity suppliers and project platform solutions</span>
                    </p>
                </div>
                <div class="solute-pic1" style="margin-right: 0;">
                    <img src="images/zx4.png">
                    <p>
                        微网站/APP解决方案
                        <br>
                        <span>Micro web /APP solution</span>
                    </p>
                </div>
            </div>
        </div>
        {foot}
    </div>     <!-- 右边固定导航 -->
    {right}
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/commen.js"></script>
</body>
</html>
