<!doctype html>
<html>
<head>
    {meta}
    <title>{webtitle}</title>
    <meta name="keywords" content="{keywords}" />
    <meta name="description" content="{Description}" />
    <link rel="stylesheet" type="text/css" href="css/style.reset.css" />
    <link href="css/com.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/animate.min.css" />
    <link href="css/case.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/mfen.css" />
</head>
<body style="">
    <div class="wraper">
      {head}
        <!-- 右边固定导航 -->

        <div class="vr-top"></div>
        <div class="ba-box">
            <div class="banner vr-banner">
                <h2 class="animated fadeIn">720°全景展<span>示</span>VR效果制作</h2>
                <h3><span class="animated bounceInDown">逼真还原场景，让你身临其境</span></h3>
            </div>
        </div>
        <section>
            <div class="vr-bd">
                <div class="vr-inner">
                    <div class="vr-box">
                        <div class="sence">
                            <iframe src="http://www.ez360.cn/yalongsuoka/tour.html" name="myiframe" id="myiframe" width="100%;" scrolling="no" frameborder="0"></iframe>
                        </div>
                        <div class="vr-txt">
                            <p class="vr-14">
                                720度全景就是视觉超过人的正常视角的图像，而我们这里说的全景特指水平360度，上下360度全能观看的，能看到“天、地”的全景。全景实际上只是
                                一种对周围景象以某种几何关系进行映射生成的平面图片，只有通过全景播放器的矫正处理才能成为三维全景。720全景顾名思义就是给人以三维立体感
                                觉的实景360度全方位图像。
                            </p>
                        </div>
                    </div>
                    <div class="vr-artcle">
                        <div class="vr-txt">
                            <p class="vr-14"><b>适用行业</b></p>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>酒店、体育馆等</b></p>
                                <p class="vr-14">对酒店整体环境，每个房间的细节展示进行全面透彻的展示，充分起到宣传的作用</p>
                                <a href="#" class="see-case">查看案例</a>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>景区</b></p>
                                <p class="vr-14">对景区的风景，环境山水等进行全面展示，是游客提前身临其境的进入景区观赏</p>
                                <a href="#" class="see-case">查看案例  北海公园景区</a>
                            </div>
                            <div class="vr-txt-pic"></div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>样板间</b></p>
                                <p class="vr-14">对企业公司的门面，环境、产品制作空间进行全方位的展示，使客户更加了解公司情况</p>
                                <a href="#" class="see-case">地中海风格样板间VR全景展示</a>
                            </div>
                            <div class="vr-txt-pic"></div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>博物馆、美术馆、图书馆、营业场所</b></p>
                                <p class="vr-14">对博物馆等建筑物的室内外环境，事物进行展示，让游客了解博物馆等建筑物的环境，从而加深游客参观游览的欲望</p>
                                <a href="#" class="see-case">查看案例   嘉里中心商场</a>
                            </div>
                            <div class="vr-txt-pic"></div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>汽车、工业展示</b></p>
                                <p class="vr-14">对企业、工业品的3D展示以及操作体验，实现用户近景观感体验</p>
                                <a href="#" class="see-case">案例 捷豹汽车VR全景</a>
                            </div>
                            <div class="vr-txt-pic"></div>
                        </div>
                        <div class="vr-txt">
                            <p class="vr-14 vr-18"><b>产品优势</b></p>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>全方位展示</b></p>
                                <p class="vr-14">通过前后左右上下720度的方式展现场景的所有角度，可在展示中通过鼠标或手指拖拽画面角度，观看场景中的各个方向，真正做到无死角展示。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>画面真实感强</b></p>
                                <p class="vr-14">模拟真实视角和画面变形角度，使浏览者如同身临其境，代入感强。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>多终端支持</b></p>
                                <p class="vr-14">720度全景可应用在任何智能设备上，包括目前主流的智能手机、网络平台、ipad平板电脑、触摸一体机，甚至头戴式眼睛等终端平台。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>良好的传播性</b></p>
                                <p class="vr-14">
                                    720度全景是一种动态影像新媒体技术，和传统视频宣传片相比，他具有文件小，画质高的特点，即使在线浏览，也无需等待，打开即可播放，而且无需安
                                    装任何插件
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>互动性强</b></p>
                                <p class="vr-14">720度全景可以嵌入任何传统媒体，如图片、文字、视频和语音讲解等，使整体可读性和交互性更强。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>数据量小</b></p>
                                <p class="vr-14">非常适合网络式访问观看</p>
                            </div>
                        </div>
                        <!--<div class="vr-txt">
                          <p class="vr-14 vr-18"><b>易创网联对于720°全景展示的制作优势</b></p>
                        </div>-->
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>易创网联对于720°全景展示的制作优势</b></p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>瞬间加载</b></p>
                                <p class="vr-14">采用精确数字制作技术，确保页面加载速度，确保用户有极致访问体验。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>超高清拍摄</b></p>
                                <p class="vr-14">我们配备了行业领先的高端数码拍摄设备和器材，卓越的影响素质配合细致的后期处理。</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>多终端显示</b></p>
                                <p class="vr-14">采用全媒体制作技术，应用制作页面可以是在不同的设备观看包括IPAD、手机端</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>6年拍摄制作经验</b></p>
                                <p class="vr-14">多年经验的专业设置团队，可以实现您提供一对一的实时拍摄服务</p>
                            </div>
                        </div>
                        <div>
                            <div class="vr-txt">
                                <p class="vr-14"><b>地面720全景展示</b></p>
                                <p class="vr-14">实现全景作品可以左右上线各360度展示效果</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
      {foot}
    </div>
    <!-- 右边固定导航 -->
   {right}
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/commen.js"></script>
    <script type="text/javascript" src="js/lazy.load.js"></script>
    <script>
        $(".customer-box .customer-box-brand ul li").click(function () {
            $(this).addClass("on").siblings().removeClass("on");

        });
    </script>
</body>
</html>
